body {
  background-color: black;
  background-image: url("../img/sexy-hodor.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.panel
{
  margin: 10px;
  background: rgba(248, 248, 248, 0.7);
}


.ember-application {
    margin: 20px;
}

#master-panel {
  width: 100%;
  margin: 0px;
}

.content-box {
 background-color: red;
}

img {
  max-width: 100%;
  max-height: 300px;
}
