<nav class='navbar navbar-default' role='navigation'>
  <ul class='nav navbar-nav'>
    <li><img id="navbarIcon" src="/img/chibi-hodor.png" alt="Chibi Hodor" /></li>
    <li>{{#link-to 'hodor0'}}Hodor{{/link-to}}</li>
    <li>{{#link-to 'hodor1'}}HODOR!{{/link-to}}</li>
    <li>{{#link-to 'hodor2'}}Hodor?{{/link-to}}</li>
  </ul>
</nav>

<div class="container">
  {{outlet}}
</div>
