<div class='panel panel-body'>
  <div class="row">
    <div class="col-md-6">
      <div class="content-box">
        {{outlet}}
      </div>
    </div>
    <div class="col-md-6 panel panel-default text-center">
        <h1 class="panel-head">Hodor and Frodo?</h1>
      <div class='panel-body'>
        <img src="img/hodorMordor.jpg" alt="Hodor and Frodo" />
        <p>Will Sam be jealous of thier forbidden love?</p>
      </div>
        <p class="panel-footer">Sauron Hates them! Click to find out why.</p>
      </div>
    </div>
  <!-- <div class="row">
    <div class="col-md-4">
      <div class="content-box">
        {{outlet content-2}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="content-box">
        {{outlet content-3}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="content-box">
        {{outlet content-4}}
      </div>
    </div> -->
  <!-- </div> -->
</div>
