
<div class='panel panel-body'>
  <div class="row">
    <div class='col-sm-4'>
      <div class="panel panel-default text-center">
        <h1 class="panel-heading">Hail Hodor</h1>
        <div class='panel-body'>
          <img src="img/king-hodor.jpg" alt="Hodor King" />
          <p>Will Hodor win the Game of Thrones?!?</p>
          </div>
        <p class="panel-footer">We have insider information that will blow your half-giant mind!</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default text-center">
        <h1 class="panel-heading">Hodor's New Look</h1>
        <div class='panel-body'>
          <img src="img/hagrid.jpg" alt="Definitely not Hagrid" />
          <p>Hodor shows off a <b>BOLD</b> new look?</p>
        </div>
        <p class="panel-footer">Stylist hate him! Click to find out why.</p>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class="panel panel-default text-center">
        <h1 class="panel-heading">Hodor and Frodo?</h1>
        <div class='panel-body'>
          <img src="img/hodorMordor.jpg" alt="Hodor and Frodo" />
          <p>Will Sam be jealous of thier forbidden love?</p>
        </div>
          <p class="panel-footer">Sauron Hates them! Click to find out why.</p>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default text-center">
        <h1 class="panel-heading">Fantasy Peace Conference</h1>
        <div class='panel-body'>
          <img src="img/hodor-conversation.jpg" alt="Hodor Conversation" />
          <p>Fantasy Monoliths solve world hunger!</p>
        </div>
        <p class="panel-footer">Click to find out who gets sacrificed!</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default text-center">
        <h1 class="panel-heading">DJ Hodor?</h1>
        <div class='panel-body'>
          <img src="img/dj-hodor.jpg" alt="Dj Hodor" />
          <p>22 of Hodor's hottest tracks!</p>
        </div>
        <p class="panel-footer">Other DJs hate him! Find Out Why!</p>
      </div>
    </div>
  </div>
</div>
